address {
    font-style: normal;
  }
  .address-list {
    margin-top: 0;
  }
  .footer-address {
    display: flex;
    align-items: baseline;
  }
  .footer-social {
    margin-left: 80px;
  }
  .footer-form {
    margin-left: 93px;
  }
  .social-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-color-white);
    margin-bottom: 20px;
  }
  .footer-address__logo {
    display: block;
    font-family: Raleway;
    font-weight: bold;
    font-size: 25px;
    line-height: 1.2;
    color: var(--accent-color);
    padding: 0;
    margin-bottom: 20px;
  }
  .footer-address__logo--studio {
    color: var(--primary-color-white);
  }
  .footer {
    max-width: 1600px;
    background: var(--background-gray);
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .footer-address__item {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    &:nth-child(-n + 2) {
      margin-bottom: 9px;
    }
  }
  
  
  .footer-address__item--link {
    color: rgba(255, 255, 255, 0.6);
    &:hover,
    &:focus {
      color: var(--accent-color);
      @extend %animation;
    }
  }
  
 
  /* ------------------------------footer-social---------------------------- */
  .footer-social__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 206px;
    height: auto;
  }
  .footer-social__list--link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-color: none;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #44454e;
    fill: var(--primary-color-white);
    &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
  }
  
  
  /* -----------------------------footer form------------------------------ */
  .footer-form__list {
    display: flex;
  }
  .footer-form__title {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: var(--primary-color-white);
  }
  
  .footer-form__input {
    width: 358px;
    height: 50px;
    outline: 1px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    cursor: pointer;
    border-radius: 4px;
    background: #2f303a;
    padding-left: 16px;
    font-size: 16px;
    line-height: 1.25;
    align-items: center;
    letter-spacing: 0.03em;
    @extend %animation;
  
    color: rgba(255, 255, 255, 0.6);
  }
  .footer-form__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 28px;
    padding-right: 28px;
    width: 200px;
    height: 50px;
    margin-left: 12px;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    @extend %animation;
  
    color: var(--primary-color-white);
  }