.header {
    border-bottom: 1px solid #ececec;
    max-width: 1600px;
    margin: 0 auto;
}
.header-contact__icon--phone {
    margin-right: 10px;
    fill: currentColor;
  }
  .header-contact__icon--mail {
    content: '';
    display: flex;
    align-items: center;
    margin-right: 10px;
    fill: currentColor;
  }
  .header-contact {
    display: block;
    margin-left: auto;
    align-items: center;
    @media screen and (min-width:1200px){
      display: flex;
    }
  }
  
  .header-contact__link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    padding: 5px;
    letter-spacing: 0.02em;
    @media screen and (min-width:1200px){
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    }
    
    color: var(--title-text-color);
    &:hover,
    &:focus {
    color: var(--accent-color);
    }
  }
  .header-contact__item{
  display: flex;
  &:nth-child(-n + 2) {
    margin-left: 50px;
  }
}
  
  .header-box {
    display: flex;
    position: relative;
    align-items: center;
    justify-self: start;
    margin: 0 auto;
    margin: auto;
    height: 80px;
    padding-left: 15px;
    padding-right: 15px;
  }
@media screen and (max-width:767px) {
.header-nav__list{
display: none;
  }
.header-contact{
  display: none;
} 
.header-box{
  height: 60px;
}
}