.clients-box__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 50px;
  }
  
  .clients-list {
    display: flex;
    justify-content: space-between;
  }
  
  .clients-list__link {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    fill: #afb1b8;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    &:hover,
    &:focus {
    fill: var(--accent-color);
    border-color: var(--accent-color);
    }
  } 
  
  
  