.hero {
  width: 480px;
  height: 400px;
  margin-left: 0;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/heromob.jpg");
  background-position: center;
  background-color: var(--background-gray);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 118px 0;
  margin: 0 auto;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: url("../images/hero/heromob2x.jpg");
    }
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/herortab.jpg");
    text-align: center;
    max-width: 768px;
    height: 400px;
    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
      .hero {
      background-image: url("../images/hero/herortab2x.jpg");
      }
    }
  }
  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/deskImg.jpg");
    height: 600px;
    max-width: 1600px;
    padding: 200px 0;
    text-align: center;
    background-color: var(--background-gray);
  
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: url("../images/hero/deskImg2x.jpg");
      }
    }
  } 
}   
.hero-titel {
  display: inline-block;
  text-align: center;
  width: 360px;
  height: 84px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-color-white);
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 30px;
  @media screen and (min-width: 1200px){
    width: 696px;
height: 120px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.32;
  }
}
.hero-button {
  display: block;
  padding: 10px, 32px;
  cursor: pointer;

  margin: 0 auto;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  font-weight: bold;
  font-size: 15px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-color-white);
  text-align: center;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
