.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 40px;
    z-index: 10;
    margin: 0 auto;
    background-color: var(--primary-color-white);
    transform: translateY(-100%);
    @extend %animation;
  }
  .menu-container.is-open{
    transform: translateY(0);
    @extend %animation;
  }

  .menu-toggle{
    position: absolute;
    right: 23px;
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    svg{
      @extend %animation;
    &:hover {
    fill: var(--accent-color);
      }
    }
    @media screen and (min-width:768px){
      display: none;
    }
  }
 
  .menu-container__link{
    padding-bottom: 32px;
    display: block;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: currentColor;
    color: var(--primary-text-color #212121);
    &:hover {
    color: var(--accent-color);
      }
  }
  .contact__item--tel{
    color: currentColor;
    color: var(--accent-color);
    padding-top: auto;
    font-weight: 500;
    font-size: 8vw;
    line-height: 1.12px;
    letter-spacing: 0.02em;
    margin-top: 300px;
    @media screen and (min-width:480px) and (max-width:768px){
      font-size: 34px;
    }
  }
  .menu-container__contact{
    position: absolute;
    display: block;
    bottom: 134px;
  }
  .contact__item--mail{
    display: block;
    margin-top: 32px;
    font-weight: 500;
    font-size: 6vw;
    line-height: 1.12px;
    letter-spacing: 0.02em;
    color: currentColor;
    color: var(--title-text-color);
    &:hover {
      color: var(--accent-color);
      }
      @media screen and (min-width:480px) and (max-width:768px){
        font-size: 26px;
      }
  }
  .menu-container__social-list {
    position: absolute;
    display: flex;
    max-width: 357px;
    margin-top: 64px;
    left: 40px;
    bottom: 48px;
    font-weight: 500;
    font-size: 4vw;
    line-height: 1.22;
    letter-spacing: 0.02em;
    margin-left:-10px;
    @media screen and (min-width:480px) and (max-width:768px){
      font-size: 16px;
    }
  }
  .menu-container__social-item {
    a{
      color: currentColor;
      color: var(--accent-color);
      margin: 0 10px;
      
    }
    
    span{
      width: 22px;
      height: 0px;
      left: 135px;
      top: 726px;

      border: 1px solid rgba(33, 33, 33, 0.2);
      transform: rotate(90deg);
    }
  }
  .menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fff;
  }
  